@import "../../styles/config.scss";

.product-card-container {
	height: 50vw;
	padding: 0.5rem;
	box-sizing: border-box;
	
	@media screen and (max-width: $tabletSize) {
		height: 100vw;
	}

	@media screen and (max-width: $mobileSize) {
		height: 200vw;
	}

	@media screen and (max-width: $smallMobileSize) {
		height: 240vw;
	}

	.product-card-content {
		background-size: cover;
		background-position: center;
		@include Fill;
		@include FlexCenter;
		position: relative;
		color: $white;

		img {
			width: auto;
			height: 50%;
		}

		.product-info {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			background: $black;
			bottom: 0;
			padding: 1.5em;
			box-sizing: border-box;
			
			h2 {
				font-size: 2em;
				margin-bottom: 0.6em;
				font-weight: 700;
			}

			.product-desctiption-container {
				
				.product-description-paragraph {
					display: flex;
					flex-direction: column;
					span{
						margin-bottom: 1em;

						@media screen and (max-width: $tabletSize) {
							margin-bottom: 0.5em;
						}
					}
				}

				span {
					font-size: 1vw;
					line-height: 1.4em;
					font-weight: 200;
					
					@media screen and (max-width: $tabletSize) {
						font-size: 1.5vw;
					}

					@media screen and (max-width: $mobileSize) {
						font-size: 3vw;
					}
				}

			}

			.product-specs {
				display: flex;
				flex-direction: column;
				
				@media screen and (max-width: $smallMobileSize){
					display: none;
				}

				span {
					margin: 0 0 1rem 0;
					font-size: 1.2rem;
					font-weight: 100;

					@media screen and (max-width: $tabletSize) {
						margin: 0 0 0.3rem 0;
					}

					@media screen and (max-width: $mobileSize) {
						font-size: 1.2rem;
						margin: 0 0 0.3rem 0;
					}
				}
			}

			button {
				position: absolute;
				top: 1rem;	
				right: 1rem;
				color: $white;
			}

			.product-moreinfo {
				position: absolute;
				top: 3rem;	
				right: 1rem;
				color: $white;
				font-size: 0.7rem;
			}
		}
	}
}

// #product-full {
// 	@media screen and (min-width: $tabletSize) {
// 		grid-column-start: 1;
// 		grid-column-end: 4;
// 	}
// }
