@import "../../styles/config.scss";

.product-card-container {
	height: 33.33vw;
	padding: 0.5rem;
	box-sizing: border-box;
	
	@media screen and (max-width: $tabletSize) {
		height: 100vw;
	}

	@media screen and (max-width: $mobileSize) {
		height: 150vw;
	}

	.product-card-content {
		background-size: cover;
		background-position: center;
		@include Fill;
		@include FlexCenter;
		position: relative;
		color: $white;

		img {
			width: auto;
			height: 50%;
		}

		.product-info {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			background: $black;
			bottom: 0;
			padding: 1.5em;
			box-sizing: border-box;
			
			.product-title-container {
				margin-bottom: 0.6em;
				display: flex;

				@media screen and (max-width: $mobileSize) {
					flex-direction: column;
				}

				.product-new-release {
					background-color: red;
					padding: 0.2rem 1rem;
					box-sizing: border-box;
					display: grid;
					place-items: center;
					border-radius: 0.5rem;
					width: fit-content;

					@media screen and (max-width: $mobileSize) {
						margin: 0.3rem 0;
					}
				}

				h2 {
					font-size: 1.7em;
					font-weight: 700;
					width: 80%;
					margin-right: 0.3rem;

					@media screen and (max-width: $mobileSize) {
						font-size: 1.5em;
					}
				}

			}

			.product-desctiption-container {
				.product-description-paragraph {
					display: flex;
					flex-direction: column;
					
					span {
						margin-bottom: 0.5em;

						@media screen and (max-width: $tabletSize) {
							margin-bottom: 0.5em;
						}
					}
				}

				span {
					font-size: 1vw;
					line-height: 1.4em;
					font-weight: 200;
					
					@media screen and (max-width: $tabletSize) {
						font-size: 1.5vw;
					}

					@media screen and (max-width: $mobileSize) {
						font-size: 3vw;
					}
				}

			}

			.product-specs {
				display: flex;
				flex-direction: column;
				
				@media screen and (max-width: $smallMobileSize){
					display: none;
				}

				span {
					margin: 0 0 1rem 0;
					font-size: 1.2rem;
					font-weight: 100;

					@media screen and (max-width: $tabletSize) {
						margin: 0 0 0.3rem 0;
					}

					@media screen and (max-width: $mobileSize) {
						font-size: 1.2rem;
						margin: 0 0 0.3rem 0;
					}
				}
			}

			button {
				position: absolute;
				top: 1rem;	
				right: 1rem;
				color: $white;
			}

			.product-moreinfo {
				position: absolute;
				top: 3rem;	
				right: 1rem;
				color: $white;
				font-size: 0.7rem;
			}

			.product-new-release {
				position: absolute;
				top: 4.3rem;	
				right: 0.6rem;
				background-color: red;
				font-size: 0.7rem;
				padding: 0.5rem 1rem;
				border-radius: 1rem;
			}
		}
	}
}