.product-card-container {
  height: 33.33vw;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .product-card-container {
    height: 100vw;
  }
}

@media screen and (max-width: 700px) {
  .product-card-container {
    height: 150vw;
  }
}

.product-card-container .product-card-content {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: white;
}

.product-card-container .product-card-content img {
  width: auto;
  height: 50%;
}

.product-card-container .product-card-content .product-info {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background: #1d1d1d;
  bottom: 0;
  padding: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-card-container .product-card-content .product-info .product-title-container {
  margin-bottom: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 700px) {
  .product-card-container .product-card-content .product-info .product-title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-card-container .product-card-content .product-info .product-title-container .product-new-release {
  background-color: red;
  padding: 0.2rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 700px) {
  .product-card-container .product-card-content .product-info .product-title-container .product-new-release {
    margin: 0.3rem 0;
  }
}

.product-card-container .product-card-content .product-info .product-title-container h2 {
  font-size: 1.7em;
  font-weight: 700;
  width: 80%;
  margin-right: 0.3rem;
}

@media screen and (max-width: 700px) {
  .product-card-container .product-card-content .product-info .product-title-container h2 {
    font-size: 1.5em;
  }
}

.product-card-container .product-card-content .product-info .product-desctiption-container .product-description-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-card-container .product-card-content .product-info .product-desctiption-container .product-description-paragraph span {
  margin-bottom: 1em;
}

@media screen and (max-width: 1200px) {
  .product-card-container .product-card-content .product-info .product-desctiption-container .product-description-paragraph span {
    margin-bottom: 0.5em;
  }
}

.product-card-container .product-card-content .product-info .product-desctiption-container span {
  font-size: 1vw;
  line-height: 1.4em;
  font-weight: 200;
}

@media screen and (max-width: 1200px) {
  .product-card-container .product-card-content .product-info .product-desctiption-container span {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 700px) {
  .product-card-container .product-card-content .product-info .product-desctiption-container span {
    font-size: 3vw;
  }
}

.product-card-container .product-card-content .product-info .product-specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 400px) {
  .product-card-container .product-card-content .product-info .product-specs {
    display: none;
  }
}

.product-card-container .product-card-content .product-info .product-specs span {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 100;
}

@media screen and (max-width: 1200px) {
  .product-card-container .product-card-content .product-info .product-specs span {
    margin: 0 0 0.3rem 0;
  }
}

@media screen and (max-width: 700px) {
  .product-card-container .product-card-content .product-info .product-specs span {
    font-size: 1.2rem;
    margin: 0 0 0.3rem 0;
  }
}

.product-card-container .product-card-content .product-info button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
}

.product-card-container .product-card-content .product-info .product-moreinfo {
  position: absolute;
  top: 3rem;
  right: 1rem;
  color: white;
  font-size: 0.7rem;
}

.product-card-container .product-card-content .product-info .product-new-release {
  position: absolute;
  top: 4.3rem;
  right: 0.6rem;
  background-color: red;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
/*# sourceMappingURL=index.css.map */