@import "../../styles/config.scss";

.faq-dropdown-contatiner {
	// background-color: $black;
	// padding: 1rem;
	// box-sizing: border-box;

	.faq-dropdown-question {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: $white;
		align-items: center;
		
		
		h2 {
			font-size: 1.5em;
			font-weight: 600;
			@media screen and (max-width: $mobileSize) {
				font-size: 1.3em;
			}
		}

		button {
			color: $white;
			width: 3rem;
			height: 3rem;
			@include FlexCenter;
		}
	}

	.faq-dropdown-answer {
		color: $white;
		display: flex;
		flex-direction: column;
		padding-top: 1rem;
		box-sizing: border-box;
		span {
			margin-bottom: 0.5rem;
			font-weight: 200;
		}
	}
}