@import "../../styles/config.scss";

.headerImage-dummy-container {
	width: 100%;
	height: 10rem;
}

.header-container {
	position: fixed;
	z-index: 50;
	width: 100%;
	background: linear-gradient(to left,$primaryColor, $secondaryColor);
	@include FlexCenter;
	justify-content: space-between;
	padding: 0 5rem;
	box-sizing: border-box;

	@media screen and (max-width: $mobileSize) {
		padding: 0 1rem;
		justify-content: center;
	}

	.header-logo {
		width: 20rem;
		height: 100%;
		overflow: visible;
		@include BackgroundImageCovered('../../images/heading.png');
	}

	h1 {
		color: $white;
		font-size: 3rem;
		font-weight: 700;
	}

	nav {
		.nav-button {
			color: $white;
			width: 8rem;
			margin-left: 2rem;
			transition: color 100ms ease-in-out;

			@media screen and (max-width: $mobileSize) {
				display: none;
			}

			&:hover {
				cursor: pointer;
				color: $black;
			}
		}
	}
}

.nav-button-active {
	color: red;
}