@import "../../styles/config.scss";

.headerImage-dummy-container {
	width: 100%;
	height: 10rem;
}

.header-container {
	position: fixed;
	z-index: 50;
	width: 100%;
	// height: 10rem;
	background: linear-gradient(to left,$primaryColor, $secondaryColor);
	@include FlexCenter;
	justify-content: space-between;
	padding: 0 5rem;
	box-sizing: border-box;

	@media screen and (max-width: $mobileSize) {
		padding: 0 1rem;
		justify-content: center;
	}

	.header-logo {
		width: 20rem;
		height: 100%;
		overflow: visible;
		@include BackgroundImageCovered('../../images/heading.png');
		// @include DBorder;
	}

	h1 {
		color: $white;
		font-size: 3rem;
		font-weight: 700;
	}

	nav {
		button {
			color: $white;
			width: 8rem;

			@media screen and (max-width: $mobileSize) {
				display: none;
			}
		}

	}
}